<div class="home-div-container">
  <app-layout-header></app-layout-header>
  <h1>Lista de Contactos</h1>

  <div class="sort-buttons">
    <button (click)="setSortOrder('name')">Ordenar por Nombre</button>
    <button (click)="setSortOrder('id')">Ordenar por ID</button>
  </div>

  <div *ngIf="contacts && contacts.length; else noContacts">
    <!-- Lista de contactos -->
    <ul>
      <li *ngFor="let contact of contacts">
        <!-- Detalles de cada contacto -->
        <div class="contact-details">
          <h2>{{ contact.name }}</h2>
          <p><strong>ID:</strong> {{ contact.id }}</p>
          <p><strong>Teléfono:</strong> {{ contact.phone }}</p>
          <p><strong>Email:</strong> {{ contact.email }}</p>
          <p><strong>Dirección:</strong> {{ contact.address }}</p>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noContacts>
    <!-- Mensaje cuando no hay contactos -->
    <p>No hay contactos disponibles.</p>
  </ng-template>
  <app-layout-footer></app-layout-footer>
</div>
