<!-- Asegúrate de que tus etiquetas de estilo estén correctamente referenciadas aquí -->
<style>
    .home-main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Usando 100vh para ocupar toda la altura visible de la pantalla */
    }
    </style>
    
    <div class="home-div-container">
      <app-layout-header />
      <main class="home-main">
        <img 
          src="assets/images/agenda.jpg"
          alt="Agenda"
          class="home-main-image"
        />
      </main>
      <app-layout-footer /> 
    </div>
    
